.box {
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(153, 242, 148);
    color: rgb(62, 62, 83);
    float: left;
    box-shadow: 2px 2px 5px gray;
}